@charset "UTF=8";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    width: 100vw;
    height: 100vh;
    background-color: blue;
}
.tema {
   text-align: center;
   padding-top: 20px;
   text-transform: uppercase;
   font-family: sans-serif;
   font-size: 1.3em;
}
.corpo-completo {
    background-color: darkblue;
    width: 80%;
    height: 80%;
    margin: auto;
    border-radius: 20px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.637);
}
.img img {
    width: 280px;
    display: block;
    margin: auto;
    padding: 10px 0px ;
}
.form {
    

}
.form h2 {
    font-family: sans-serif;
    text-align: center;
    padding-top: 10px;
    font-size: 1.9em;
    color: white;
}
.login {
    display: block;
}
.btn {
    height: 6rem;
    display: flex;
    justify-content: center;
    padding: 20px;
    
    
    
}
.button {
    width: 200px;
    border-radius: 20px;
    font-family: sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    background-color: aqua;
    color: blue;
    font-size: 1.4em;
    border: none;  
}